databases/postgres_data_user/
databases/postgres_data_inventory
product_service/media/category/
gatway_service/media/category/
databases/postgres_data_order_management/
databases/
dashboard/db_data
dashboard/vendor