fastapi==0.88.0
Flask==2.2.2
passlib==1.7.4
PyMySQL==1.0.2
SQLAlchemy==1.4.46
uvicorn==0.20.0
python-decouple==3.6.0
PyJWT==2.6.0
a2wsgi==1.7.0
bcrypt==4.0.1
databases[postgresql]==0.4.1
psycopg2-binary==2.9.6
requests==2.28.2
httpx==0.24.0
pydantic==1.10.7
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
python-slugify==8.0.1
awesome-slugify==1.6.5
alembic==1.10.4
stripe==5.4.0